@model IEnumerable<EsercizioSettimana11Marzo.Models.Ordine>

@{
    ViewBag.Title = "OrdiniUtente";
}

<h2>Ordini</h2>




<div class="container">
    <div class="row g-3">
        @foreach (var item in Model)
        {
            <div class="col-12">
                <div class="container bg-light bg-opacity-25 p-3 rounded-3">
                    <div class="row">
                        <div class="col-3 d-flex align-items-center">

                            <div class="fs-2">
                                <b>Id:</b>
                                @Html.DisplayFor(modelItem => item.IdOrdine)
                            </div>


                        </div>
                        <div class="col-5">
                            <div>
                                <div>
                                    <b>Indirizzo:</b>
                                    @Html.DisplayFor(modelItem => item.Indirizzo)
                                </div>
                                <div>
                                    <b>Data ordine:</b>
                                    @String.Format("{0:dd/MM/yyyy}", item.DataOrdine)
                                </div>
                                <div>
                                    <b>Note:</b>
                                    @Html.DisplayFor(modelItem => item.Note)
                                </div>




                            </div>

                        </div>
                        <div class="col-3 d-flex align-items-center">
                            <b class="me-2">Totale: </b>
                            @Html.DisplayFor(modelItem => item.TotaleOrdine) euro
                        </div>
                        <div class="col-1 d-flex align-items-center text-white">
                            @Html.ActionLink("Dettagli", "DettagliOrdine", "Home", new { id = item.IdOrdine}, new { @class = "text-light" })

                        </div>
                    </div>
                </div>

            </div>

        }



    </div>
</div>
