@model EsercizioSettimana11Marzo.Models.Articolo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Articolo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Immagine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Immagine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezzo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TempiDiConsegna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TempiDiConsegna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredienti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredienti)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
