@model EsercizioSettimana11Marzo.Models.Articolo



<h2>Dettagli</h2>



<div class="col-12">
    <div class="container bg-light bg-opacity-25 p-3 mx-3 my-1 rounded rounded-3">
        <div class="row">
            <div class="col-4 ">
                <img class="w-100 rounded rounded-3" src="~/Images/@Model.Immagine" alt="@Model.IdArticolo" style="height:35em; object-fit:cover">
            </div>
            <div class="col-8 d-flex flex-column justify-content-between position-relative">
                <div class="bg-dark bg-opacity-25 py-2 px-4 rounded rounded-3">
                    <h4 class=" text-decoration-underline ">@Model.Nome</h4>
                    <b>Prezzo: </b> <p>@Model.Prezzo €</p>
                    <b>Ingredienti: </b> <p> @Model.Ingredienti</p>
                    <b>Tempi di consegna: </b><p> @Model.TempiDiConsegna minuti</p>
                </div>
                <div class="position-absolute end-0 bottom-0 me-4" >
                    <a href="@Url.Action("Edit", new { id = @Model.IdArticolo })" class="btn btn-outline-light">
                        <i class="fa fa-edit"></i>
                    </a>

                    <a href="@Url.Action("Delete", new { id = @Model.IdArticolo })" class="btn btn-outline-light">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
            </div>
           

        </div>
    </div>
</div>

